body {
}



a {
    color: #0B0014;
}

a:hover {
        color: #B6C2D9;
}

 a:link {
    text-decoration: none;
 }

table {
    border-collapse: collapse;
    width: 100%;

}

th, td {
    text-align: left;
    
}

tr:hover {
    background-color: #e8f4f8;
}