@model HousingListViewModel



<link rel="stylesheet" href="/css/grid.css" type="text/css" />


<h1>List of homes for rent (@Model.CurrentViewName View)</h1>
<a href="/Housing/Table">Table View</a>
<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        @foreach (var housing in Model.Housings)
        {
            <partial name="_ItemCard" model="housing" />
            /*<button class="button buttonChoose">Choose dates</button>*/
        }
    </div>
</div>
