@model HousingListViewModel


<link rel="stylesheet" href="/css/table.css" type="text/css" />


<h1>List of homes for rent (@Model.CurrentViewName View)</h1>
<a href="/Housing/Grid">Grid View</a> 

<partial name="_HousingTable" model="Model.Housings" />

<!--<a class="btn btn-primary" asp-action="OrderConsole">Console Output</a>-->
