@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/css/index.css" type="text/css" />
    </head>

    <body>
        <div class="jumbotron text-center">
            <div class="container-fluid" id="test">
                <h1 class="display-4">LAMRentals</h1>
                <p>Rent your dream home, for now or later</p>
                <button class="button" button id="buttonRentals">Rentals</button>
            </div>
        </div>
    </body>
</html>

