@{
    ViewData["Title"] = "LAMRentals";
}

<link rel="stylesheet" href="/css/index.css" type="text/css" />
<link rel="stylesheet" href="/css/_Button.css" type="text/css" />

<div class="jumbotron ">
    <div class="d-flex justify-content-center align-items-center" id="background">
        <div>
            <h1 class="display-4">@ViewData["Title"]</h1>
            <h3>Rent your dream home, for now or for later.</h3><br />
            <a asp-controller="Housing" asp-action="Table" type="button" class="button1" id="button">Get Started</a>
        </div>
    </div>
</div>
<div class="container-fluid">
    <partial name="_HomeCard" />
</div>


