@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <style>

            .jumbotron {
                background-image: url(../../images/home1.jpg);
                background-size: cover;
                width: 100vw;
                height: 50vh;
                text-align: center;
            }

            .container {
                margin: 0;
                padding: 0;
                font-family:'Times New Roman', Times, serif
            }

            #test {
                margin: auto;
                background-color: rgb(0,0,0,0.5);
                height:100%;
                color: white;
                display: inline-block;
                vertical-align: middle;
            }

            .button {
                border: none;
                color: black;
                background-color: white;
                text-align: center;
                text-decoration: none;
                font-size: 18px;
                font-family:'Times New Roman', Times, serif;
                padding: 15px 40px;
                margin: 20px
              
            }


        </style>
    </head>

    <body>
        <div class="jumbotron text-center">
            <div class="container-fluid" id="test">
                <h1 class="display-4">LAMRentals</h1>
                <p>Rent your dream home, for now or later</p>
                <button class="button" button id="buttonRentals">Rentals</button>
            </div>
        </div>
    </body>
</html>

