@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/css/index.css" type="text/css" />
    </head>

    <body>
        <div class="jumbotron ">
            <div class="d-flex justify-content-center align-items-center" id="background">
                <div>
                    <h1 class="display-4">LAMRentals</h1>
                    <h3>Rent your dream home, for now or for later.</h3><br />
                    <button type="button" class="btn btn-light" id="button">Sign in</button>
                </div>
            </div>
        </div>
    </body>
</html>

